infrastructure/n8n/workflows/backup_schedule.json
{
  "name": "OneDrive Backup Schedule",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 1,4"
            }
          ]
        }
      },
      "id": "cron-backup",
      "name": "Schedule Mon Thu 03:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9876/execute",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"command\": \"onedrive_backup\",\n  \"timeout\": 300\n}",
        "options": {
          "timeout": 360000
        }
      },
      "id": "execute-backup",
      "name": "Run OneDrive Backup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bridge-auth",
          "name": "Bridge Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-result",
      "name": "Check Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/YOUR/WEBHOOK/URL' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Backup OK: {{ $json.duration_seconds }}s\"\n}"
      },
      "id": "success-notify",
      "name": "Backup OK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/YOUR/WEBHOOK/URL' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Backup FAILED: {{ $json.stderr ? $json.stderr.slice(-500) : 'unknown' }}\"\n}"
      },
      "id": "failure-notify",
      "name": "Backup Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 100]
    }
  ],
  "connections": {
    "Schedule Mon Thu 03:00": {
      "main": [
        [
          {
            "node": "Run OneDrive Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run OneDrive Backup": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          {
            "node": "Backup OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backup Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  },
  "tags": [
    {
      "name": "backup"
    },
    {
      "name": "automation"
    }
  ]
}
