infrastructure/n8n/workflows/shorts_automation.json
{
  "name": "Shorts Maker v2 자동화 파이프라인",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8,14,20 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "⏰ 매일 08/14/20시",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9876/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "health-check",
      "name": "🏥 헬스체크",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bridge-auth",
          "name": "Bridge Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "health-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "health-gate",
      "name": "🚦 시스템 상태 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9876/execute",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"command\": \"shorts_generate\",\n  \"timeout\": 900\n}",
        "options": {
          "timeout": 960000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "shorts-generate",
      "name": "🎬 Shorts 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bridge-auth",
          "name": "Bridge Auth"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gen-success",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "gen-result-check",
      "name": "✅ 생성 결과 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TELEGRAM_WEBHOOK_URL || 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"✅ *Shorts 생성 완료*\\n\\n⏱ 소요: {{ $json.duration_seconds }}초\\n📅 {{ $json.timestamp }}\\n\\n```{{ $json.stdout ? $json.stdout.slice(-300) : '' }}```\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "success-telegram",
      "name": "📱 성공 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, -200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:9876/execute",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"command\": \"shorts_dry_run\",\n  \"timeout\": 300\n}",
        "options": {
          "timeout": 360000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fallback-dry-run",
      "name": "🔄 Fallback: Dry Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bridge-auth",
          "name": "Bridge Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TELEGRAM_WEBHOOK_URL || 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"🚨 *Shorts 생성 실패*\\n\\n📛 종료코드: {{ $node['🎬 Shorts 생성'].json.exit_code }}\\n⏱ 소요: {{ $node['🎬 Shorts 생성'].json.duration_seconds }}초\\n\\n🔄 Dry run 결과: {{ $json.status }}\\n\\n```{{ $node['🎬 Shorts 생성'].json.stderr ? $node['🎬 Shorts 생성'].json.stderr.slice(-300) : '상세 에러 없음' }}```\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "failure-telegram",
      "name": "🚨 실패 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TELEGRAM_WEBHOOK_URL || 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"⚠️ *Shorts 생성 스킵*\\n\\n시스템 상태: {{ $json.status || 'unhealthy' }}\\n메모리: {{ $json.memory_mb || '?' }}MB\\n\\n시스템이 비정상 상태여서 Shorts 생성을 건너뛰었습니다.\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "skip-telegram",
      "name": "⚠️ 스킵 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 150]
    }
  ],
  "connections": {
    "⏰ 매일 08/14/20시": {
      "main": [
        [
          {
            "node": "🏥 헬스체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏥 헬스체크": {
      "main": [
        [
          {
            "node": "🚦 시스템 상태 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚦 시스템 상태 확인": {
      "main": [
        [
          {
            "node": "🎬 Shorts 생성",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ 스킵 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎬 Shorts 생성": {
      "main": [
        [
          {
            "node": "✅ 생성 결과 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ 생성 결과 확인": {
      "main": [
        [
          {
            "node": "📱 성공 알림",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔄 Fallback: Dry Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Fallback: Dry Run": {
      "main": [
        [
          {
            "node": "🚨 실패 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul",
    "errorWorkflow": "",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    {
      "name": "shorts-maker-v2"
    },
    {
      "name": "automation"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "local",
    "notes": "3계층 에러 처리 적용:\n1. Tool-level: neverError + retryOnFail (3회)\n2. Workflow-level: 헬스체크 게이트 + 실패 시 dry-run fallback\n3. Monitoring: Telegram 알림 (성공/실패/스킵)"
  }
}
